# Project 1 - Data Scientist Job Market (US)

For those who are actively looking for data scientist jobs in the U.S., the best news this month is the LinkedIn Workforce Report August 2018. According to the report, there is a shortage of 151,717 people with data science skills, with particularly acute shortages in New York City, San Francisco Bay Area and Los Angeles.

To help job hunters (including me) to better understand the job market, I scraped Indeed website and collected information of 7,000 data scientist jobs around the U.S. on August 3rd. The information that I collected are: Company Name, Position Name, Location, Job Description, and Number of Reviews of the Company.

Source: https://www.kaggle.com/sl6149/data-scientist-job-market-in-the-us?select=alldata.csv

## To Dos:
1. Create a repo on GitHub - <span style="color:green">done</span>
2. Create a jupyter notebook - <span style="color:green">done</span>
3. What wrangling steps we want to do on each column - <span style="color:green">done</span>
<br>
    3.1 Define the key words we want to extract from description - <span style="color:green">done</span>
    <br>
    3.2 Find Regexs for it
    <br>
4. What insights we want to gather (e.g. company vs locations) - <span style="color:green">done</span>
<br>
    4.1 How we want to present it (which plots to use) - <span style="color:green">done</span>

### 3. What wrangling steps we want to do on each column

#### Steps

- standardize column headers
- check null values (how many are there, etc)
    - can we replace them
    - can we drop them
- standardize column 'positions'
    - find unique values
    - harmonize them
- standardize column 'company'
    - check for same description just wirtten differently/ typos
    - correct them
- standardize column 'location'
    - split up into new columns (State, etc.)
- extract words from column 'desrciption'
    - use boolean columns with True or False

#### Key words to look for in description

Use re.findall()
<br>
<br>
**We decided to focus on 3 Key word: languages, degrees and seniority level to not overwhelm the todos***

**Languages:**
<br>
  - Python
  - C
  - C ++
  - R
  - Perl
  - Java
    <br>
    
**Degrees:**
<br>
  - Bachelor / BA /BS 
        * Computer Science, Economics, Data Science, 
  - Master /MA
    <br>
    
**Seniotiry Level:**
  - Junior
  - Senior
    <br>
    
**Tools:**
<br>
  - Tableau/QlikSense, PoerBI, Looker
    <br>
    
**Skills:**
<br>
  - Big Data
  - structured /un strcutured data
  - discover pattern
  - model / modeling
  - advanced analystics
  - 5+ years of Predictive Analytics
  - Statistical Modeling
  - Machine Learning
    <br>

    
**Programms:**
<br>
  - Hadoop, Oracle, SQL
    <br>
    
**Business Functions:**
<br>
  - Sales, Marketing, Supply Chain, Manufacturing

#### RegEx to get those

### 4. What insights we want to gather (e.g. company vs locations)

### Insights & presentation options

**Giving overview of data:**
<br>
- job titels -> wordcloud (https://www.python-graph-gallery.com/wordcloud/)<br>
<br>
- most required skills -> sns.countplot 
<br>
<br>
- most required languages -> sns.countplot or treemap (https://www.python-graph-gallery.com/treemap/)
<br>
<br>
- most required tools -> sns.countplot
<br>
<br>
- ranking what is most important skills vs languages vs tools -> sns.countplot 
<br>
<br>
- locations -> bubble map (https://www.python-graph-gallery.com/bubble-map/)
<br>
<br>
- companies -> donut plot (https://www.python-graph-gallery.com/donut-plot/)
<br>
<br>

**Showing relations between the columns:**
<br>
- all together (job titel, degree, company, location, languages, skills, tools) -> heatmap
<br>
<br>
- degree vs job titel (degree vs company) -> -> scatterplot seaborn 
<br>
<br>
- location vs job titel (company vs location) -> scatterplot seaborn
<br>
<br>
- tools vs job titel -> scatterplot seaborn
<br>
<br>
- languages vs job titel -> scatterplot seaborn
<br>
<br>
- skills vs job titel -> scatterplot seaborn
<br>
<br>

In [1]:
cd Data #just going on directory down to get the data

/Users/josephinebiedermann/Desktop/DABC2021/GitHub/ProjectsPhine/Week1/Data

In [2]:
ls #forgot how the file was called, so checking whats in the folder

alldata.csv*     fulltimeBOS.csv* fulltimeMA.csv*  fulltimeSD.csv*
fulltimeAL.csv*  fulltimeCHI.csv* fulltimeMV.csv*  fulltimeSEA.csv*
fulltimeAT.csv*  fulltimeDC.csv*  fulltimeNY.csv*  fulltimeSF.csv*
fulltimeBO.csv*  fulltimeLA.csv*  fulltimeRM.csv*  fulltimeSU.csv*

In [16]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("alldata.csv")

In [6]:
data #having a first look at the data in the df

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"
...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA"
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA"
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA"
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA"
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,11610.0,"Sunnyvale, CA 94089"

#### Overview/Shape Data

In [35]:
data.shape

#we have 6965 rows and 5 columns

(6964, 5)

In [36]:
data.info()

#we have 4 columns that have datatype object, reviews data type is float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

#### standardize column headers

In [43]:
data.columns

#column headers look already good, no need to change

Index(['position', 'company', 'description', 'reviews', 'location'], dtype='object')

#### check null values (how many are there, etc)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

In [45]:
6964 - 6953

# it seems like in all object columns there are 11 NaN values each
# i would assume this is the same 11 rows for all columns
# this might indicate that we could drop those rows as they seem to be empty anyway

11

In [46]:
6964 - 5326

# in reviews we have 1638 NaNs, which is  24% of the whole rows in the reviews column
# i would suggest NOT to drop those rows, but to replace the NaNs with 0

1638

In [49]:
data.isnull().sum().sum() 
#there are in total 1682 NaN values over the whole df

1682

In [55]:
data.isnull().sum()

position         11
company          11
description      11
reviews        1638
location         11
dtype: int64

In [66]:
data_clean1 = data.dropna(['position','company', 'description', 'location'], how = 'any')
data_clean1.info()

TypeError: supplying multiple axes to axis is no longer supported.

In [82]:
data_clean1 = data.dropna(subset = ['position'])
data_clean1.info()

# ??? how do i just drop the null values from columns 'position','company', 'description', 'location'??

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5326 entries, 3 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     5326 non-null   object
 1   company      5326 non-null   object
 2   description  5326 non-null   object
 3   reviews      5326 non-null   float64
 4   location     5326 non-null   object
dtypes: float64(1), object(4)
memory usage: 249.7+ KB

In [65]:
data_clean2 = data.dropna()
data_clean2.info()

#here we have also dropped the NaN values from reviews, thats what i did not wanted

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5326 entries, 3 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     5326 non-null   object
 1   company      5326 non-null   object
 2   description  5326 non-null   object
 3   reviews      5326 non-null   float64
 4   location     5326 non-null   object
dtypes: float64(1), object(4)
memory usage: 249.7+ KB

#### Check for duplicates

In [53]:
data.duplicated().sum()

10

#### standardize column 'positions'
- find unique values
- harmonize them

In [ ]:
# add new column called 'positions_clean'
# take davis list and extract the clean names from positions to 'positions_clean'
# do value count per position
# take top 3 and take this for correlcations

In [89]:
data['position'].value_counts().sum()

5326

In [91]:
data['position'].unique()

array(['Data Analyst',
       'Assistant Professor -TT - Signal Processing & Machine Learning',
       'Manager of Data Engineering', ...,
       'Data Developer / Machine Learning Analyst', 'Intern Scientist',
       'Principal Data Scientist, Deep Learning'], dtype=object)

In [87]:
data['position'].value_counts()

Data Scientist                                          204
Senior Data Scientist                                    53
Research Analyst                                         44
Data Engineer                                            39
Machine Learning Engineer                                26
                                                       ...
WRF-Hydro/National Water Model Software Engineer III      1
Experience Management Scientist, Employee Experience      1
Scientist II, PK/PD and PBPK Modeling                     1
Director                                                  1
Data Science - Data Scientist - New York                  1
Name: position, Length: 4221, dtype: int64

davis list:

research scientist
data scientist
data analyst
data engineer
machine learning engineer
business analyst
research analyst
web analyst
finance analyst
research associate
associate scientist

In [112]:
positions = ['research scientist', 'data scientist', 'data analyst', 'data engineer',
'business analyst',
'research analyst',
'web analyst',
'finance analyst',
'research associate',
'associate scientist', 'data analyst', 'engineer']

In [118]:
data['positions_clean'] = data['position'].str.extract('({})'.format('|'.join(positions)), 
                        flags=re.IGNORECASE, expand=False).str.lower()
data.head()

,position,company,description,reviews,location,positions_clean
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303",data analyst
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA",NaN
5,Manager of Data Engineering,McKinsey & Company,Qualifications\nBachelor’s degree in Computer ...,385.0,"Atlanta, GA 30318",data engineer
6,"Product Specialist - Periscope, New Ventures",McKinsey & Company,Qualifications\nBachelor’s degree\n5-7 years o...,385.0,"Atlanta, GA 30318",NaN
7,"Junior to Mid-level Engineer, Geologist or Env...",Wood,Overview / Responsibilities\nWood Environment ...,899.0,"Atlanta, GA",engineer

In [119]:
data['positions_clean'].value_counts()

data scientist         872
engineer               857
research analyst       243
research scientist     205
data engineer          128
data analyst           102
associate scientist     72
research associate      63
business analyst        23
finance analyst         15
web analyst              1
Name: positions_clean, dtype: int64

In [115]:
data['positions_clean'].value_counts().sum()

# even though we are missing hlaf of the entires, we have the positons that we are acutally interesetd in 
# we will disregard the entries for e.g. web devloper or marketing analyst

2581

In [120]:
data['positions_clean'].unique()

array(['data analyst', nan, 'data engineer', 'engineer', 'data scientist',
       'research scientist', 'research analyst', 'associate scientist',
       'finance analyst', 'research associate', 'business analyst',
       'web analyst'], dtype=object)

#### standardize column 'company'
- check for same description just wirtten differently/ typos
- correct them

In [92]:
data['company'].unique()

array(['Operation HOPE', 'Emory University', 'McKinsey & Company', ...,
       'ALTA DEVICES INC', 'Magic Leap, Inc.', 'Nexient'], dtype=object)

In [93]:
data['company'].value_counts()

Amazon.com                         357
Ball Aerospace                     187
Microsoft                          137
Google                             134
NYU Langone Health                  76
                                  ...
Verra Mobility                       1
Liberty Healthcare Corporation       1
Grenzebach Glier and Associates      1
Group One Trading                    1
Poshmark                             1
Name: company, Length: 1302, dtype: int64

In [10]:
data['description'][2]

'Growing company located in the Atlanta, GA area is currently looking to add a Data Scientist to their team. The Data Scientist will analyze business level data to produce actionable insights utilizing analytics tools and languages, etc. R, Python and/or C++: The Data Scientist will serve as the organization’s leader, helping to grow their data science initiative from a green state. The Data Scientist will also be responsible for advancement of analytical projects from inception to delivery and beyond.\nRESPONSIBLITIES;\n 1. Leverage Big Data to discover patterns and solve strategic and tactical business problems using massive structured and unstructured data sets across multiple environments\n 2. Develop analytical capabilities (modeling and processes) that drive better outcomes for both customers and the company\n 3. Drive the collection, cleansing, processing and analysis of new and existing data sources.\n 4. Research industry topics impacting opportunities relevant for data analysis projects\n 5. Execute complex analyses to aid in reporting and interpretation of analytical findings to build a comprehensive solution.\n 6. Demonstrates good judgment and analytical skills to conduct option analysis and present recommendations\n 7. Support and resolve issues related to analyses or deliverable in production\n 8. Works with internal and external clients to understand, clarify, and analyze requirements to understand the business, and potential, impactful solutions\n 9. Mapping of processes to understand opportunities for advanced analytics and product enhancement\n\n\nRequirements:\n5. 1. BA/BS Degree in Business Analysis, Computer Science, Economics, Data Science. Masters degree preferred\n 2. 5+ years of Predictive Analytics, Statistical Modeling, Machine Learning a plus\n 3. Expect level understanding of analytics tools and language (R, Python, or C++ etc.)\n 4. Experienced in Business Analysis, requirement definition\n 5. Proven and recent experience working with Sales, Marketing, Supply Chain, and/or Manufacturing Data\n 6. Able to navigate and access structured and unstructured data environments (i.e. Hadoop, Oracle, SQL etc)\n 7. Experience utilizing internal and external data sources to identify otherwise hidden industry trends to impact product development\n 8. Exposure to visualization tools, Tableau/QlikSense\n 9. Must be solution-oriented and focused on innovation.\n 10. Familiar with scripting language: e.g. Perl, Python or a programming language: e.g. Java\n \n\nTo express interest in this position, please Email Resume in MS-Word or .pdf format and attach cover letter with Salary requirements and contact information. Please be sure to reference Job #2093.\n NO SPONSORSHIP AVAILABLE!\n\n\nLocation: Atlanta, GA\n\nType: Permanent\n\nSalary: $$,$$$ / DOE'

In [11]:
data['position'].unique()

array(['Development Director',
       'An Ostentatiously-Excitable Principal Research Assistant to Chief Scientist',
       'Data Scientist', ..., 'Data Developer / Machine Learning Analyst',
       'Intern Scientist', 'Principal Data Scientist, Deep Learning'],
      dtype=object)

In [14]:
data['position'].value_counts()

Data Scientist                                             351
Senior Data Scientist                                       96
Research Analyst                                            64
Data Engineer                                               60
Machine Learning Engineer                                   56
                                                          ...
Software Engineer - Android                                  1
Data Engineer, Amazon Prime                                  1
Sr. Quantitative Analyst                                     1
Program Manager, Mixed Reality Content                       1
Postdoctoral Scientist - Optical Physics , Biophotonics      1
Name: position, Length: 5242, dtype: int64

In [15]:
len(data['position'])

6964

In [34]:
degrees = 'BA|Bachelor'
data['degrees'] = re.findall(degrees, str(data['description']), flags=re.IGNORECASE)

# if BA or Bachelor is in the cell, I want to extract it into a new column called 'degrees'

ValueError: Length of values (0) does not match length of index (6964)